.nav-header {
    height: 7vh;
    background: linear-gradient(to left, $color-grey-light, $color-grey-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand {
    margin-left: 3rem;
}
.nav__links {
        display: flex;
        align-items: center;
        li {
            list-style: none;
            a {
                margin: 0 5rem;
                transition: all .3s ease 0s;
                &:hover {
                    color: #78ffd6;
                }
            }
        }
}