// Colors
$color-white: #fff;
$color-black: #000;
$color-grey-dark: #333;

$color-primary: #a8ff78 ;



// Font

$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-verticle: 8rem;
$gutter-horizontal: 6rem;