// Colors
$color-white: #fff;
$color-black: #000;
$color-grey-dark: #2b2b2b;
$color-grey-light: #434343;

$color-primary: #c9ffac;
$color-primary-light: #40ad00;
$color-primary-dark: #1d5200;



// Font

$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-verticle: 8rem;
$gutter-horizontal: 6rem;