@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.7;
}

// Nav
li, a {
    font-size: 1.6rem;
    text-decoration: none;
    color: #eeeeee;
}
.brand {
    a {
        font-size: 3rem;
        background-image: linear-gradient(to right, #a8ff78, #78ffd6);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}